p.lead(style='white-space:pre;')
  | Need a ride? Look for the perfect ride.
  | Driving to or from Chicago? Make some extra cash.
p.lead
  a.btn.btn-lg.btn-default(href='rides') See all rides
  a.btn.btn-lg.btn-default(href='newride') Post a new ride