div#messages.alert.alert-success(ng-show="success") {{success}}
div#messages.alert.alert-danger(ng-show="fail") {{fail}}
form(name="newride_form", role="form", ng-submit="createRide()")
  div(class="form-group")
    label(for="email") Write your @illinois.edu email here to post a ride.
    input.form-control(ng-model="email", ng-pattern="/[a-zA-Z0-9]+@illinois.edu/", type="email", id="email", name="email", placeholder="example@illinois.edu")
    small(class="error", ng-show="newride_form.email.$error.pattern") Your email must be an @illinois.edu email.
  button.btn.btn-lg.btn-default(type="submit") Submit
