div#messages.alert.alert-success(ng-show="success") {{success}}
div#messages.alert.alert-danger(ng-show="fail") {{fail}}
form(name="newride_form", role="form", ng-submit="createRide()")
  div(class="form-group")
    label(for="email") Write your @illinois.edu email here to post a ride.
    input.form-control(ng-model="email", ng-pattern="/[a-zA-Z0-9]+@illinois.edu/", type="email", id="email", name="email", placeholder="example@illinois.edu")
    input.form-control(ng-model="startLocation", type="text", id="startLocation", name="startLocation", placeholder="Champaign, IL")
    input.form-control(ng-model="endLocation", type="text", id="endLocation", name="endLocation", placeholder="Gurnee, IL")
    input.form-control(ng-model="seats", id="seats", name="seats", placeholder=6)
    input.form-control(ng-model="seatPrice", id="seatPrice", name="seatPrice", placeholder=10)
    input.form-control(ng-model="departureTime", id="departureTime", name="departureTime")
    small(class="error", ng-show="newride_form.email.$error.pattern") Your email must be an @illinois.edu email.
  button.btn.btn-lg.btn-default(type="submit") Submit
