h2 Available Rides

table.table.table-striped.table-hover(ng-controller="RideListCtrl")
  tr
    th Start Location
    th End Location
    th Seats Available
    th Price per Seat
    th Departure Time
    th Contact Email
  tr(ng-repeat="ride in rides")
    td {{ride.startLocation}}
    td {{ride.endLocation}}
    td {{ride.seats}}
    td {{ride.seatPrice}}
    td {{ride.departureTime | date:"MMM dd, yyyy hh:mm a"}}
    td {{ride.email}}
