div(ng-controller="RideDetailCtrl")
  h2 Ride Details Page for Ride {{ride.id}}

  h4 Start Location: {{ride.startLocation}}
  h4 End Location: {{ride.endLocation}}
  br
  h4 Available Seats: {{ride.seats}}
  h4 Seat Prices: {{ride.seatPrice | currency : symbol : amount}}
  h4 Departure Time: {{ride.departureTime | date:"MMM dd, yyyy hh:mm a"}}
  br

  h4 Riders
  table.table.table-bordered.table-hover
    tr(ng-repeat="riderEmail in ride.riders")
      td {{riderEmail}}

  h5 Contact {{ride.email}} for more information
  br
  a(href='/rides') Back to rides
