.modal-header
  h3(style="color: black;") Signup using Email
.modal-body
  p(style="color: black;") Signup for this ride using your email.
  input(type="email", placeholder="name@example.com", ng-model="email")

.modal-footer
  button.btn.btn-default(ng-click="submit(email)") Signup
