extends layout


block body
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand Carpool
            ul.nav.masthead-nav(ng-controller="NavCtrl")
              li(ng-class="{ active: isActive('/home')}")
                a(href='/home') Home
              li(ng-class="{ active: isActive('/about')}")
                a(href='#') About
        div(ng-controller='AppCtrl')
        div(ng-view)
        .mastfoot
          .inner
            p
              | handmade in Champaign-Urbana


  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
