extends layout


block body
  div.container(ng-controller='AppCtrl')
    .row
      div.col-md-4
        h2 Welcome to Carpool!
    .row
      div.col-md-4
        a.btn.btn-primary(href='newride') New Ride
        a.btn.btn-primary(href='rides') All Rides
    .row
      div.col-md-8
        div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
