!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Carpool
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/css/app.css')
  body
    block body
